doctype html
html
    head
        title Notes
        link(rel="stylesheet" type="text/css" href="/css/style.css")
    body
        nav.navbar
            a.logo(href="/")
                img.logo-image(src="/assets/notas.jpeg" alt="Logo")
            h1.navbar-title 
                a(href="/") LOS NOTAS
            if session.client
                ul.menu-list
                    li 
                        span.navbar-username= session.client.username
                    li
                        a(href="/client/logout") Log Out
            else
                ul.menu-list
                    li
                        a(href="/client/login") Login
                    li
                        a(href="/client/signup") Registro

        nav.submenu-bar
            ul.submenu-list
                li
                    a(href="/note/category/1") Sports
                li
                    a(href="/note/category/2") Technology
                li
                    a(href="/note/category/3") Fashion
                li
                    a(href="/note/category/4") Food
                li
                    a(href="/note/category/5") Travel
                li
                    a(href="/note/category/6") Music
                li
                    a(href="/note/category/7") Movies
                li
                    a(href="/note/category/8") Health
                li
                    a(href="/note/category/9") Books
                li
                    a(href="/note/category/10") Art

        .body-class
            .note-cards
                .note-card
                    br
                    br
                    br
                    a.agregar(href="/note/create") +

                if notes.length > 0
                    each note in notes
                        .note-card(class=`category-${note.category.name.toLowerCase()}`)
                            h2 Etiqueta: #{note.title}
                            .content
                                p Contenido: #{note.content}
                                if note.flag
                                    p Flag: #{note.flag}
                                p Categoría: #{note.category.name}
                            if session.client
                                .author
                                    p= 'Autor: ' + note.client.name + ' ' + note.client.lastname 
                                    if session.client.id === note.client.id || session.client.rol === 'admin'
                                        form(action=`note/delete/${note.id}`, method="DELETE")
                                            button(type="submit") Borrar
                else
                    p No hay notas disponibles.

